<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwsuaf.dao.FilesDao">

    <resultMap id="filesMap" type="nwsuaf.model.Files">
        <id property="fileId" column="fileId"/>
        <result property="fileName" column="fileName"/>
        <result property="uploadTime" column="uploadTime"/>
        <result property="uploader" column="uploader"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <insert id="filesInsert" parameterType="nwsuaf.model.Files">
        INSERT INTO file (fileName,uploadTime,uploader,remark) VALUES (#{fileName}, #{uploadTime}, #{uploader}, #{remark});
        <selectKey keyColumn="fileId" resultType="int" keyProperty="fileId" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="filesDelete" parameterType="int">
        DELETE FROM file WHERE fileId = #{fileId};
    </delete>

    <update id="filesUpdate" parameterType="nwsuaf.model.Files">
        UPDATE file
        SET fileName = #{fileName},
            uploadTime = #{uploadTime},
            uploader = #{uploader},
            remark = #{remark},
        WHERE fileId = #{fileId}
    </update>

    <select id="filesFindByFileId" parameterType="int" resultType="nwsuaf.model.Files">
        SELECT * FROM file WHERE fileId=#{fileId}
    </select>

    <select id="filesFindByFileName" parameterType="int" resultType="nwsuaf.model.Files">
        SELECT * FROM file WHERE fileName=#{fileName}
    </select>

    <select id="filesFindByUploader" parameterType="int" resultType="nwsuaf.model.Files">
        SELECT * FROM file WHERE uploader=#{uploader}
    </select>
</mapper>