<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwsuaf.dao.PersonDao">

    <resultMap id="personMap" type="nwsuaf.model.Person">
        <id property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="tel" column="tel"/>
        <result property="address" column="address"/>
        <result property="email" column="email"/>
    </resultMap>

    <insert id="insert" parameterType="nwsuaf.model.Person">
        INSERT INTO person (id,password,name,age,sex,tel,address,email) VALUES (#{id},#{password},#{name}, #{age}, #{sex},#{tel},#{address},#{email});
        <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getByNamePass" parameterType="int">
        select count(*) from person where name =#{name} and password =#{name}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM person WHERE id = #{id};
    </delete>

    <update id="update" parameterType="nwsuaf.model.Person">
        UPDATE person
        SET name = #{name},
            age = #{age},
            sex = #{sex},
            tel = #{tel},
            address = #{address},
            email = #{email}
        WHERE id = #{id}
    </update>

    <select id="getById" parameterType="int" resultType="nwsuaf.model.Person">
        SELECT * FROM person WHERE id=#{id}
    </select>

    <select id="getByName" parameterType="String" resultType="nwsuaf.model.Person">
        SELECT * FROM person WHERE name=#{name}
    </select>

    <select id="findAll" resultType="nwsuaf.model.Person">
        SELECT * FROM person
    </select>
</mapper>