<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwsuaf.dao.ProjectDao">

    <!--<resultMap id="projectMap" type="nwsuaf.model.Project">-->
        <!--<id property="proId" column="proId"/>-->
        <!--<result property="proName" column="proName"/>-->
        <!--<result property="date" column="date"/>-->
    <!--</resultMap>-->

    <!--<insert id="projectInsert" parameterType="nwsuaf.model.Project">-->
        <!--INSERT INTO project (proName,date) VALUES (#{proName}, #{date});-->
        <!--<selectKey keyColumn="proId" resultType="int" keyProperty="proId" order="AFTER">-->
            <!--SELECT LAST_INSERT_ID()-->
        <!--</selectKey>-->
    <!--</insert>-->

    <!--<delete id="projectDelete" parameterType="int">-->
        <!--DELETE FROM project WHERE proId = #{proId};-->
    <!--</delete>-->

    <!--<update id="projectUpdate" parameterType="nwsuaf.model.Project">-->
        <!--UPDATE project-->
        <!--SET proName = #{proName},-->
            <!--date = #{date}-->
        <!--WHERE proId = #{proId}-->
    <!--</update>-->

    <!--<select id="projectFindByProId" parameterType="int" resultType="nwsuaf.model.Project">-->
        <!--SELECT * FROM project WHERE proId=#{proId}-->
    <!--</select>-->

    <!--<select id="projectFindByProName" parameterType="int" resultType="nwsuaf.model.Project">-->
        <!--SELECT * FROM project WHERE proName=#{proName}-->
    <!--</select>-->

</mapper>