<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwsuaf.dao.ProjectFileRalationDao">

    <resultMap id="ProjectFileRalationMap" type="nwsuaf.model.ProjectFileRalation">
        <id property="key" column="key"/>
        <result property="proId" column="proId"/>
        <result property="fileId" column="fileId"/>
    </resultMap>

    <insert id="ProjectFileRalationInsert" parameterType="nwsuaf.model.ProjectFileRalation">
        INSERT INTO p_f_ralation (proId,fileId) VALUES (#{proId}, #{fileId});
        <selectKey keyColumn="key" resultType="int" keyProperty="key" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="ProjectFileRalationDelete" parameterType="int">
        DELETE FROM p_f_ralation WHERE proId = #{proId} AND fileId = #{fileId};
    </delete>

    <update id="ProjectFileRalationUpdate" parameterType="nwsuaf.model.ProjectFileRalation">
        UPDATE p_f_ralation
        SET proId = #{proId},
            fileId = #{fileId}
        WHERE key = #{key}
    </update>

    <select id="ProjectFileRalationFindByProId" parameterType="int" resultType="nwsuaf.model.ProjectFileRalation">
        SELECT * FROM p_f_ralation WHERE proId=#{proId}
    </select>

    <select id="ProjectFileRalationFindByFileId" parameterType="int" resultType="nwsuaf.model.ProjectFileRalation">
        SELECT * FROM p_f_ralation WHERE fileId=#{fileId}
    </select>

</mapper>