<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwsuaf.dao.StudentDao">

    <resultMap id="studentMap" type="nwsuaf.model.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
    </resultMap>

    <insert id="insert" parameterType="nwsuaf.model.Student">
        INSERT INTO student (name,sex) VALUES (#{name}, #{sex});
        <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM student WHERE id = #{id};
    </delete>

    <update id="update" parameterType="nwsuaf.model.Student">
        UPDATE student
        SET name = #{name},
            sex = #{sex}
        WHERE id = #{id}
    </update>
    
    <select id="findById" parameterType="int" resultType="nwsuaf.model.Student">
        SELECT * FROM student WHERE id=#{id}
    </select>

    <select id="findByName" parameterType="String" resultType="nwsuaf.model.Student">
        SELECT * FROM student WHERE name=#{name}
    </select>

    <select id="findAll" resultType="nwsuaf.model.Student">
        SELECT * FROM student
    </select>
</mapper>