<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nwsuaf.dao.TeamDao">

    <resultMap id="teamMap" type="nwsuaf.model.Team">
        <id property="key" column="key"/>
        <result property="teamId" column="teamId"/>
        <result property="id" column="id"/>
        <result property="proId" column="proId"/>
    </resultMap>

    <insert id="teamInsert" parameterType="nwsuaf.model.Team">
        INSERT INTO team (teamId,id,proId) VALUES (#{teamId}, #{id}, #{proId});
        <selectKey keyColumn="key" resultType="int" keyProperty="key" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <delete id="teamDelete" parameterType="int">
        DELETE FROM team WHERE teamId = #{teamId};
    </delete>

    <update id="teamUpdate" parameterType="nwsuaf.model.Team">
        UPDATE team
        SET id = #{id},
            proId = #{proId}
        WHERE teamId = #{teamId}
    </update>

    <select id="teamFindByTeamId" parameterType="int" resultType="nwsuaf.model.Team">
        SELECT * FROM team WHERE teamId=#{teamId}
    </select>

    <select id="teamFindById" parameterType="int" resultType="nwsuaf.model.Team">
        SELECT * FROM team WHERE id=#{id}
    </select>

    <select id="teamFindByProId" parameterType="int" resultType="nwsuaf.model.Team">
        SELECT * FROM team WHERE proId=#{proId}
    </select>
</mapper>